# ================= SERVER =================
PORT=3002

# ================= TELEGRAM =================
TELEGRAM_API_ID=SEU_API_ID
TELEGRAM_API_HASH=SUA_API_HASH

# ================= APP =================
BASE_URL=http://SEU_IP:3002

# ================= PATHS =================
SESSIONS_DIR=./sessions
PHOTOS_DIR=./photos